<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="content">
    <p id="info"></p>
    <img id="img" src="data:image/jpg;base64, ">
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
  <script>
  axios.get('/res').then((resp) => { console.log(resp.data) });
  let socket = io();
  socket.on('res', (res) => {
    msg = JSON.parse(res);
    const data = {
      success: msg.success,
      result: {
        personNum: msg.result.personNum,
      },
      msg: msg.msg,
    }
    console.log(data);
    const info = document.getElementById('info');
    info.innerHTML = JSON.stringify(data);
    const img = document.getElementById('img');
    img.src = 'data:image/jpg;base64, ' + msg.result.image;
  });
  </script>
</body>
</html>
